@media(min-width: 1200px){
	html{
		font-size: 70%;
		line-height: 1.2rem;
	}
    #stopka img{
        height: 3%;
        width: 3%;
    }
    .table-responsive{
        font-size: 1.1rem;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
	html{
		font-size: 50%;
		line-height: 1.2rem;
	}
    #stopka img{
        height: 5%;
        width: 5%;
    }
    .table-responsive{
        font-size: 1.1rem;
    }
}

@media(min-width: 768px) and (max-width: 991px){
	html{
		font-size: 40%;
		line-height: 1.2rem;
	}
    #stopka img{
        height: 5%;
        width: 5%;
    }
}


@media(max-width: 767px){
    .carousel-caption h1,
	.carousel-caption p{
		font-size: 1.5rem;
		line-height: 2.5rem;
	}

	.block{
		margin-left: -20px;
		margin-right: -20px;
	}
    #stopka img{
        height: 4%;
        width: 4%;
    }
}


