/*###############*/
/* Główne*/
/*###############*/

body{

	font-family: 'Open Sans';
	color: #34495e;
	background-color: #ffffff;
}

/*###############*/
/* Menu górne*/
/*###############*/

.navbar-default{
    background-color: #dfe6e9;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

#logo img{
    display: block;
	float: none;
	margin-top: -1rem;
    width: 200px;
    height: 40px;
}


/*###############*/
/* Body index.html*/
/*###############*/
      
#index_body{
	text-align: center;	
}

#index_body h5,
#index_body p{
 	text-align: left;
	margin-top: 1rem;
}

#family_img{
    border-radius: 1rem;
}

#login-panel{
    margin-top: 0.5rem;
    padding: 1rem;
}

.btn{
    margin-right: 2rem;
}

#but-reg{
    background-color: #E87E04;
}

#join-h3{
    margin-top: 0.5rem;
}

.modal-dialog {
  margin-top: 200px;
  width: 360px;
  height: 500px !important;
 }
 
.modal-content {
    height: 60%;
    background-color:#dfe6e9;
}     
 
.modal-header {
    background-color: #BDC3C7;
    padding:16px 16px;
    color:#34495e;
    border-bottom:1px solid #dfe6e9;
    text-align: center;
 }






















